{% extends "base.html" %}

 {% block content %}
 <div class="message">
<div class="tabbable" id="tabs-457564">
	<div class="tab-content message_s">
		<div class="tab-pane active" id="1">
			<p class = "message_item yj">
				I'm in Section 1.sssssssss ssssssssss
				ddjadkka jlk dsj kjkaljkljasdlk  sdjadk jlk
				djakdjkl jall l jdkajkl jlkjk
			</p>
			<p class = "message_item_2 yj">
				I'm in Section 1.
			</p>
			<br/>
		</div>
		<div class="tab-pane" id="2">
			<p>
				Howdy, I'm in Section 2.
			</p>
		</div>
	</div>
	<ul class="pagination">
		<li class="active">
			 <a href="#1" data-toggle="tab">Section 1</a>
		</li>
		<li>
			 <a href="#2" data-toggle="tab">Section 2</a>
		</li>
	</ul>
</div>
</div>
{% endblock %}