$def with(title)
<!doctype html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="description" content="FlatBest - Responsive One Page Fast Loading">
<meta name="keywords" content="One Page, Bootstrap, Website, Business, Resume, Portfolio, Template, Unlimited Colors">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- ===== Site Title===== -->
<title>电化学在线</title>

<!-- ===== Google Fonts ===== -->

<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Raleway:500,600,700">

<!-- ===== Favicon Icon ===== -->
<link rel="icon" href="../static/images/favicon.ico">

<!-- ===== Bootstrap ===== -->
<link rel="stylesheet" href="../static/css/bootstrap.min.css">

<!-- ===== Font Icons ===== -->
<link rel="stylesheet" href="../static/assets/font-awesome/css/font-awesome.min.css">

<!-- ===== Corousel and Lightbox ===== -->
<link rel="stylesheet" href="../static/css/owl.theme.css">
<link rel="stylesheet" href="../static/css/owl.carousel.css">
<link rel="stylesheet" href="../static/css/nivo-lightbox.css">
<link rel="stylesheet" href="../static/css/themes/default/default.css">

<!-- ===== Colors ===== -->
<link rel="stylesheet" href="../static/css/colors/color.css"> 


<!-- ===== Preloader ===== -->
<link rel="stylesheet" href="../static/css/preloader.css">

<!-- ===== style.css ===== -->
<link rel="stylesheet" href="../static/css/style.css">

<!-- ===== Responsive CSS ===== -->
<link rel="stylesheet" href="../static/css/responsive.css">

<!--[===== if lt IE 9]>
			<script src="js/html5shiv.js"></script>
			<script src="js/respond.min.js"></script>
<![endif]===== -->
     
</head>

<body>
<!-- ===== preloader ===== -->



<!-- ===== Header ===== -->
<header id="home">

<!-- ===== Over color Image ===== -->
<div class="background-overlay" style="height:80%">
	
	<div class="container-header">
		
		<!-- ===== Sticky Navigation ===== -->
		<div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation bgc-two">
			<div class="container">
                               <div class="navbar-header">
					
					<!-- ===== Logo on Sticky Navigation Bar ===== -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#onepage-navigation">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#" style="font-size:25px;">Electrochemical Online</a>
					
				</div>
				
				
				<!-- ===== Navigation Menu ===== -->
				<div class="navbar-collapse collapse" id="onepage-navigation">
					<ul class="nav navbar-nav navbar-right main-navigation">
						<li><a href="#home">Home</a></li>
						<li><a href="dhxGCD.html">GCD</a></li>
						<li><a href="dhxCV.html">CV</a></li>
						<li><a href="dhxEIS.html" >EIS</a></li>
						<li><a href="dhxRATE.html">RATE</a></li>
                                                <li><a href="homepage.html">中文版</a></li>
					</ul>
				</div>
				
			</div>
			
		</div>
		
		<!-- ===== End Sticky Navigation ===== -->
		
	</div>
	
	<!-- ===== Welcome ===== -->
	<div class="container">
		
		<div class="row">
			
			<div class="col-md-10 col-md-offset-1 distance-header">

             <br>
             <br>
	     <br>
             <br>
				
				<h1 style="font-size:60px;">
                    <strong>Electrochemical Online</strong>
				</h1>
				<div class="underline"></div>
				
								
				<!-- ===== Call To Action Button ===== -->
				<div id="call_to_action-5" class="distance-button">
				
				<button type="button" class="btn standard-button" title="READ ME"
                                     data-container="body" data-toggle="popover" data-placement="left"
                                       data-content="Electrochemical Online provides service that can read and filter original data files(.bin, .txt or .xlsx) and form graphics automatically.  If you found errors, please send the data files to yuzezhong2012@qq.com and describe the errors succinctly.">
                                 READ ME
                                </button>
				
				</div>
				
			</div>

		</div>
             <br>
             <br>
             <br>
	     <br>
             <br>
	</div>
	<!-- ===== End Welcome ===== -->
	
</div>

</header>





<!-- ===== Footer ===== -->
<footer class="bgc-two">
<div class="container">
	
	
	

	
	<div class="copyright">
		 Copyright©2017 by  Zezhong Yu 
	</div>
</div>
</footer>




<!-- ===== Script Javascript ===== -->
<script src="../static/js/echarts.js"></script>
<script src="../static/js/preloader.js"></script>
<script src="../static/js/retina.js"></script>
<script src="../static/js/SmoothScroll.js"></script>
<script src="../static/js/jquery.scrollTo.min.js"></script>
<script src="../static/js/jquery.localScroll.min.js"></script>
<script src="../static/js/owl.carousel.min.js"></script>
<script src="../static/js/nivo-lightbox.min.js"></script>
<script src="../static/js/jquery.fitvids.js"></script>
<script src="../static/js/custom.js"></script>
<script>
jQuery.noConflict()
jQuery(function (){
    jQuery("[data-toggle='popover']").popover();
});
</script>

</body>
</html>